.layout-container {
  display: flex;
  height: 100vh;
  background-color: #f1f5f9; /* Light mode background */
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.layout-container.dark-mode {
  background-color: #121212; /* Dark mode background */
  color: #fff;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* If you want a different content background in dark mode */
.layout-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #ffffff; /* Light mode */
  transition: background-color 0.3s, color 0.3s;
}

.layout-container.dark-mode .layout-content {
  background-color: #1e1e1e; /* Dark mode content area */
}
